---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`About| ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 class="font-bold">About me</h1>
    <p>Esta es la sección donde debería de escribir cosas bonicas sobre mi y darme mucho auto bombo.</p>
  </section>
</PageLayout>
