---
import {Image, Picture} from 'astro:assets';
import DavidImage from "src/assets/david_portada.png"
import ReactIcon from "./icons/ReactIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";

const fechaInicio = new Date(2018, 5, 5);
const fechaActual = new Date();
const aniosExperiencia = fechaActual.getFullYear() - fechaInicio.getFullYear();
---

<section class="mb-8">
    <div class="mb-6">
        <h1
                class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
        >
      <span
              class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        davidramiro
      </span>
        </h1>
        <h2 class="text-center text-text-heading italic">
            Lo que no se practica, se olvida y lo que no se comparte, se pierde.
        </h2>
    </div>
    <div>
        <Picture
                with="405"
                height="419"
                formats={['avif', 'webp']}
                src={DavidImage}
                alt="Caricatura de David comiendo galletas"
                class="rounded-full w-[270px] h-[279px] mx-auto mb-4"
        />
        <p>
            Hola! Soy desarrollador web con más de {aniosExperiencia} años de experiencia trabajando con tecnologías
            JavaScript. Actualmente trabajo en <a href="https://www.innusual.tech/" target="_blank"
                                                  rel="noopener noreferrer" class="text-text-bold">Innusual</a> como
            desarrollador frontend.
        </p>
        <p>
            Me gusta trabajar con React y TypeScript, refactorizar código, el Clean Code y aprender nuevas tecnologías.
        </p>
        <p>
            En mi tiempo libre me gusta leer libros sobre desarrollo y ver charlas técnicas sobre desarrollo web, buenas
            prácticas y Javascript.
        </p>
        <div class="flex justify-start items-center gap-3 mt-5">
            <ReactIcon/>
            <TypeScriptIcon/>
            <JavaScriptIcon/>
            <TailwindIcon/>
        </div>
    </div>
</section>
