---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Dramiro.com
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Hola!! Bienvenido a mi block de notas. Aquí recojo lo que voy aprendiendo sobre tecnologías frontend.
      Cursos que voy haciendo y en definitiva lo que me pueda ser util en un futuro.
    </p>
  </div>
</section>
