---
import HeaderLink from "./HeaderLink.astro";
---

<Fragment>
    <nav class="hidden md:inline">
        <section class="text-text-bold">
            <h1
                    class="font-bold text-text-heading text-center text-1xl md:text-2xl pt-4 pb-2 overflow-hidden inline"
            >
                <a href="/" class="unset">
      <span
              class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
            border-none
        "
      >
        davidramiro
      </span>
                </a>
            </h1>
            <ul class="unset inline-flex gap-4 [&>li]:p-0">
                <li>
                    <HeaderLink href="/about">About</HeaderLink>
                </li>
                <!-- <li><HeaderLink href="/projects">Projects</HeaderLink></li> -->
            </ul>
        </section>
    </nav>
    <nav class="md:hidden flex items-center">
        <button id="mobile-menu-open" aria-label="menu open">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 6l16 0"></path>
                <path d="M4 12l16 0"></path>
                <path d="M4 18l16 0"></path>
            </svg>
        </button>
        <h1
                class="font-semibold text-text-heading text-center text-1xl md:text-2xl overflow-hidden inline"
        >
      <span class="ml-4">
        davidramiro
      </span>
        </h1>
        <section
                id="mobile-menu"
                class="hide-menu fixed top-0 left-0 z-10 w-full h-full transition-transform bg-black/75 border-primary-blue"
        >
            <div class="bg-bg-body w-[75%] h-full drop-shadow-2xl">
                <button id="mobile-menu-close" class="px-6 h-[5rem] text-lg xml-[1px]" aria-label="menu close">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 6l-12 12"></path>
                        <path d="M6 6l12 12"></path>
                    </svg>
                </button>
                <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">
                    <li>
                        <HeaderLink href="/about">About</HeaderLink>
                    </li>
                    <!-- <li><HeaderLink href="/projects">Projects</HeaderLink></li> -->
                </ul>
            </div>
        </section>
    </nav>
</Fragment>

<script>
    // @ts-nocheck
    document.querySelector("#mobile-menu-open").addEventListener("click", () => {
        const menuElem = document.querySelector("#mobile-menu");
        menuElem.classList.remove("hide-menu");
        menuElem.classList.add("show-menu");
        document.body.style.overflow = "hidden";
    });

    document.querySelector("#mobile-menu-close").addEventListener("click", () => {
        const menuElem = document.querySelector("#mobile-menu");
        menuElem.classList.remove("show-menu");
        menuElem.classList.add("hide-menu");
        document.body.style.overflow = "auto";
    });
</script>

<style>
    .hide-menu {
        transform: translateX(-100%);
    }

    .show-menu {
        transform: translateX(0%);
    }
</style>
